/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-11-25, 10:28:12
    Author     : usager
*/
.jo{
    color: greenyellow;
}
.resultat {
    color : blue;
    font-weight: bold;
}
.message {
    color : red;
    font-weight: bold;
}
